@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$Kumbh: 'Kumbh Sans', sans-serif;
$Orange: hsl(26, 100%, 55%);
$Pale_orange: hsl(25, 100%, 94%);

$Very_vark_blue: hsl(220, 13%, 13%);
$Dark_grayish_blue: hsl(219, 9%, 45%);
$Grayish_blue: hsl(220, 14%, 75%);
$Light_grayish_blue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%); // (with 75% opacity for lightbox background)

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
ul {
    list-style: none;
}

body {
    font-size: 16px;
    font-family: $Kumbh;
    .navbar {  
        display:flex;
        align-items:center; 
        padding:10px;
        margin: 0.5rem 1rem;
        font-size:1.1rem;
        background: $White;
        color:$Dark_grayish_blue;
        .navbar__links { 
            display:flex;
            .navbar__link { 
                padding:0 10px;
                a {
                    text-decoration:none;
                }
            }
        }
    }
    header {
        position: relative;
        display:flex;
        align-items:center;
        .rightHead {
            display:flex;
            align-items:center; 
            position: absolute;
            right: 0;
            .avatar {
                height: 6vh;
                margin: 1rem;
            }
            .btnCart {
                cursor: pointer;
            }
            .cart {
                visibility: hidden;
            }
            .openCart {
                visibility: visible;
            }
        }
    }
    
}
@media screen and (max-width:767.98px) {
    .navbar__links { 
        overflow:hidden;
        display:flex;
        flex-direction:column;
        width:0;
        height:calc(100vh - 65px);  
        position:absolute;
        top:65px;
        left:0;     
        background:$Light_grayish_blue;     
        transform: translateX(0%);
        transition: all .5s ease-in-out;
    }
    .show-nav {
        .navbar__links { 
            width:70vw;    
            transform: translateX(0);
        }
        .navbar__link  {        
            transform: translateX(0);    
        }
        .bar {
            width:0;
            background:transparent;
            &::before {
                transform:rotate(45deg);
            }
            &::after {
                transform:rotate(-45deg);
            }
        }
        .first {      
            transition: all 1s ease-out;
        }
        .second {      
            transition: all 1.1s ease-out;
        } 
        .third {      
            transition: all 1.2s ease-out;
        } 
        .four {      
            transition: all 1.3s ease-out;
        } 
        .fifth {      
            transition: all 1.4s ease-out;
        }
    }
    .navbar__link {    
        transform: translateX(10%);
        transition: all .5s ease-in-out;
        a {
            display:block;
            padding:1rem;
            font-size:1.6rem;
            color:$Black;  
            transition: all .4s ease-in-out;
            &:hover {
                padding-left:2rem;
                letter-spacing:5px;
            }
        }
    }
    /* Toggle menu */
    .burger {
        display:block;
        position:relative;
        padding:0;
        margin-left: 5px;
        width:45px;
        height:45px;
        border:none;
        background:transparent;
        cursor:pointer;
    }
    .bar {
        display:block;    
        width:23px;
        height:4px;  
        border-radius:3px;
        background:$Black; 
        transition: all .5s ease-in-out;
        &::before, &::after {
            content:"";
            width:23px;
            height:3px;
            position:absolute; 
            left:0;  
            background:$Black; 
            border-radius:3px;    
            transition: all .5s ease-in-out;
        }
        &::before {
            transform:translateY(-8px);
        }
        &::after {
            transform:translateY(8px);
        }
    }
}
@media screen and (min-width:768px) {
    .burger {
        display: none;
    }
    .navbar__link {
        a {
            color: $Dark_grayish_blue;
            &::after {
                display:block;
                content:"";
                width:0;
                height:1px;
                background:$White;
                transition:width .4s;
            }
        }
        &::hover {
            a {
                &::after {
                    width:100%;
                }
            }
        }
    }
}